{{ define "main" }}
evtl.
<blockquote class="twitter-tweet">
  <p lang="de" dir="ltr">
  +++ Eil +++<br>Meike Kamp wird Berliner Beauftragte für Datenschutz und Informationsfreiheit. Kamp arbeitet aktuell für die Landesvertretung von Bremen, kennt die Berliner Behörde aber bestens. Wird wie geplant am 6.10. gewählt, endet eine dann einjährige Vakanz auf dem Posten.
  </p>
  &mdash; Robert Kiesel (@Robert_Kiesel) 
  <a href="https://twitter.com/Robert_Kiesel/status/1569682093923246081?ref_src=twsrc%5Etfw">
  September 13, 2022
  </a>
</blockquote> 
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{{ end }}
